body {
    font-family: Helvetica, Sans-Serif;
    width: 800px;
    margin: 80px;
}

h1 {
    margin:20px;
}
p {
    margin: 20px;
}

/*
div {
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
*/

.flex-container {
  display: flex;
  flex-direction: row;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
