body {
    width: 300px;
    border: 2px black;
    padding: 50px;
    margin: 20px;

}
width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
h1 {

}

a:link {
  color: blue }

a:visited {
  color: purple }
