body {
    font-family: Helvetica, Sans-Serif;
    width: 400px;
    margin: 80px;
}

p {
    margin: 20px;
}


div {
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
